<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Metron TypeScript/JavaScript Convenience Library</title>
        <link type="text/css" href="node_modules/milligram/dist/milligram.min.css" rel="stylesheet" />
        <link type="text/css" href="node_modules/metronical.metron/dist/css/app.css" rel="stylesheet" />
        <script type="text/javascript" src="node_modules/rsvp/dist/gen/rsvp.js"></script>
    </head>
    <body data-m-root="" data-m-autoload="true">
        {{m:content}}
    </body>
</html>
